<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abargia session chat logs</title>
</head>
<body>
    <form method="post">
            {% csrf_token %}
            Select session logs to read:
            {% if session_list %}
                <select name="title">
                    <option>select session</option>
                    {% for session in session_list %}
                        <option value={{session.title}}>{{session.title}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="read session logs">
            {% else %}
            No session logs yet.
            {% endif %}
        </form>
</body>
</html>